<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
</head>
<body>
<th:block layout:fragment="configpane">
 <div class="tab-pane" id="config">
     <div class="row">
         <div class="col-md-4">
             <form role="form" onkeypress="return event.keyCode != 13;">
                 <div class="form-group">
                     <label for="settings-update-interval">Update interval (in seconds):</label>
                     <input type="text" class="form-control" id="settings-update-interval"
                            value="2" />
                 </div>
             </form>
         </div>
         <div class="col-md-8">
             <div class="row">
                 <div class="col-md-6">
                     <h4>Topic mapping</h4>
                     <div class="alert alert-warning">
                         <strong>Note: </strong>Here you can add topic mapping before a topic exists. Enter the topic you want to map to and from and click "Add".
                     </div>
                     <form role="form">
                         <div class="form-group">
                             <label class="sr-only" for="from-topic">From topic:</label>
                             <input type="text" class="form-control" id="from-topic" placeholder="From topic" />
                         </div>
                         <div class="form-group">
                             <label class="sr-only" for="to-topic">To topic:</label>
                             <input type="text" class="form-control" id="to-topic" placeholder="To topic" />
                         </div>
                         <a id="add-predefined-mapping" class="btn btn-success">Add</a>
                     </form>
                 </div>
                 <div class="col-md-6">
                     <h4>Topic mapping</h4>
                     <div class="alert alert-warning">
                         <strong>Note: </strong>This is a list of the topics that have active subscriptions in the server and their mappings. To add your own mappings please enter a topic in the input field and click "Add".
                     </div>
                     <div class="panel panel-primary">
                         <!-- Default panel contents -->
                         <div class="panel-heading">
                             <h3 class="panel-title" data-toggle="collapse" data-target="#gloshaugen-map" aria-expanded="true">
                                 <a href="#gloshaugen-map">gloshaugen</a>
                             </h3>
                         </div>
                         <div id="gloshaugen-map" class="panel panel-collapse collapse">
                             <div class="panel-body">
                                 <div class="input-group">
                                     <span class="input-group-addon" id="basic-addon2">gloshaugen &nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                                     <input type="text" class="form-control" placeholder="topic to map gloshaugen against..." aria-describedby="basic-addon2" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">Add</button>
                                    </span>
                                 </div>
                             </div>
                             <div class="table-reponsive">
                                 <table class="table table-striped">
                                     <thead>
                                     <tr>
                                         <th>Topic</th>
                                         <th>Action</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td>fjas</td>
                                         <td><a id="fjas" class="btn btn-xs btn-block btn-warning">Delete</a></td>
                                     </tr>
                                     <tr>
                                         <td>ntnu</td>
                                         <td><a id="ntnu" class="btn btn-xs btn-block btn-warning">Delete</a></td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-primary">
                         <!-- Default panel contents -->
                         <div class="panel-heading">
                             <h3 class="panel-title" data-toggle="collapse" data-target="#beer-map" aria-expanded="true">
                                 <a href="#beer-map">beer</a>
                             </h3>
                         </div>
                         <div id="beer-map" class="panel panel-collapse collapse">
                             <div class="panel-body">
                                 <div class="input-group">
                                     <span class="input-group-addon" id="basic-addon3">beer &nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                                     <input type="text" class="form-control" placeholder="topic to map beer against..." aria-describedby="basic-addon3" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">Add</button>
                                    </span>
                                 </div>
                             </div>
                             <div class="table-reponsive">
                                 <table class="table table-striped">
                                     <thead>
                                     <tr>
                                         <th>Topic</th>
                                         <th>Action</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td>fjas</td>
                                         <td><a id="fjas" class="btn btn-xs btn-block btn-warning">Delete</a></td>
                                     </tr>
                                     <tr>
                                         <td>ntnu</td>
                                         <td><a id="ntnu" class="btn btn-xs btn-block btn-warning">Delete</a></td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</th:block>
</body>
</html>