<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
</head>
<body>
<th:block layout:fragment="logpane">
<div class="tab-pane" id="log">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading" id="log-name"><h3 class="panel-title">okse.log</h3></div>
                <div class="row btn-row">
                    <div class="col-md-4">
                        <div class="form-group" role="group">
                            <select class="form-control" id="log-file">

                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group" role="group" aria-label="..." id="log-level"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Lines</span>
                            <input type="number" id="log-length" class="form-control" placeholder="Lines" value="250" aria-describedby="basic-addon1"/>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-warning active" role="button" id="logs-button-refresh">Stop refresh</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="log-data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
</body>
</html>
