<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
</head>
<body>
<th:block layout:fragment="mainpane">
<div class="tab-pane active" id="main">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Status</div>
                        <!-- <div class="panel-body"></div> -->
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Broker: </strong><span th:text="${projectName}">Unknown</span></li>
                            <li class="list-group-item"><strong>Uptime: </strong><span id="uptime" th:text="${uptime}">Unknown</span></li>
                            <li class="list-group-item"><strong>Messages sent: </strong><span class="totalMessages" th:text="${totalMessages}">Unknown</span></li>
                            <li class="list-group-item"><strong>Topics: </strong><span class="totalTopics" th:text="${topics}">Unknown</span></li>
                            <li class="list-group-item"><strong>Subscribers: </strong><span class="totalSubscribers" th:text="${subscribers}">Unknown</span></li>
                            <li class="list-group-item"><strong>Publishers: </strong><span class="totalPublishers" th:text="${publishers}">Unknown</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading">System</div>
                        <!-- <div class="panel-body"></div> -->
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item"><strong>CPU cores: </strong><span id="cpuCores" th:text="${cpuCores}">0</span></li>
                            <li class="list-group-item"><strong>Total RAM: </strong><span id="totalRam" th:text="${totalRam}">0</span> MB</li>
                            <li class="list-group-item"><strong>Free RAM: </strong><span id="freeRam" th:text="${freeRam}">0</span> MB</li>
                            <li class="list-group-item"><strong>Used RAM: </strong><span id="usedRam" th:text="${usedRam}">0</span> MB</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Operating environment</div>
                <!-- <div class="panel-body"></div> -->
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" th:each="entry : ${environment}">
                        <strong th:text="${entry.key} + ': '"></strong><span th:text="${entry.value}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <div class="btn-group">
                                    <a th:if="!${protocolPower}" class="btn btn-sm btn-success" id="protocol-power-button">Start protocolservers</a>
                                    <a th:if="${protocolPower}" class="btn btn-sm btn-danger" id="protocol-power-button">Stop protocolservers</a>
                                </div>
                            </div>
                            Interfaces
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <p>The admin console is bound to <strong><span th:text="${serverHost}">*.*.*.*</span><span th:text="':' + ${serverPort}">:----</span></strong></p>
                            <p>See below for protocol specific ports.</p>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Protocol</th>
                                    <th>Host</th>
                                    <th>Port</th>
                                </tr>
                                </thead>
                                <tbody th:if="!${protocols.isEmpty()}" id="protocolinfo-table">
                                    <tr th:each="protocolInfo : ${protocols}">
                                        <td th:text="${protocolInfo.type}">Unknown</td>
                                        <td th:text="${protocolInfo.host}">Unknown</td>
                                        <td th:text="${protocolInfo.port}">Unknown</td>
                                    </tr>
                                </tbody>
                                <tbody th:unless="!${protocols.isEmpty()}" id="protocolinfo-table">
                                    <tr class="danger">
                                        <td colspan="3">
                                            <h4 class="text-center">No protocols returned from CoreService</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
</body>
</html>