<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
</head>
<body>
<th:block layout:fragment="subscriberspane">
<div class="tab-pane" id="subscribers">
    <div class="row">
        <div class="col-md-12" id="subscribers-column">
            <!-- All subscribers will be inserted here -->
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">All subscribers</div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        <strong>Note: </strong>
                        Something really fancy about all 'em subscribers.
                    </div>
                    <a class="btn btn-danger" id="delete-all-subscribers">Delete all subscribers</a>
                    <div id="subscribers-info">
                    </div>
                    <div id="page-selector">
                        <ul class="pagination">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
<th:block layout:fragment="initiatejs">
<script>
    // Initiate bootpag
    $('#page-selector').bootpag({
        total: 10
    }).on("page", function(event, pageClicked) { /* Callback function from bootpag on 'page'-event */
        $("#subscribers-info").html("You clicked the " + pageClicked + " page");
    });
</script>
</th:block>
</body>
</html>