<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
</head>
<body>
<th:block layout:fragment="topicspane">
<div class="tab-pane" id="topics">
    <div class="row">
        <div class="col-md-12" id="topics-column">
            <!-- All topics will be inserted here -->
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">All topics</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning">
                                <strong>Note: </strong>
                                All the topics registered in the broker will be shown below. If you choose to delete a topic,
                                all the child topics will be removed from the table on the next refresh.
                                Furthermore, all subscriptions will also be removed in case of a topic being deleted.
                                If the list of topic exceeds 25 topics, a paginator will appear. The list of topics is alphabetically sorted.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-danger" id="delete-all-topics">Delete all topics</a>
                            <a class="btn btn-warning active" role="button" id="topics-button-refresh">Stop refresh</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <h3 class="total-number-header">Total: <span class="label label-default totalTopics">0</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div id="page-selector">
                                <ul id="topic-pagination-selector"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Subscribers</th>
                            <th>Root</th>
                            <th>Leaf</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="topics-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
</body>
</html>