<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        layout:decorator="layout">
<head>
    <title>OKSE Admin Console</title>
</head>
<body>
<th:block layout:fragment="content">
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#main" data-toggle="tab">Main</a></li>
    <li role="presentation"><a href="#topics" data-toggle="tab">Topics</a></li>
    <li role="presentation"><a href="#subscribers" data-toggle="tab">Subscribers</a></li>
    <li role="presentation"><a href="#statistics" data-toggle="tab">Statistics</a></li>
    <li role="presentation"><a href="#config" data-toggle="tab">Configuration</a></li>
    <li role="presentation"><a href="#log" data-toggle="tab">Logs</a></li>
</ul>
<div class="tab-content">
    <!-- ADD NEW PANES HERE -->
    <div layout:replace="fragments/panes/mainpane :: mainpane"></div>
    <div layout:replace="fragments/panes/topicspane :: topicspane"></div>
    <div layout:replace="fragments/panes/subscriberspane :: subscriberspane"></div>
    <div layout:replace="fragments/panes/statspane :: statspane"></div>
    <div layout:replace="fragments/panes/configpane :: configpane"></div>
    <div layout:replace="fragments/panes/logpane :: logpane"></div>
</div>
</th:block>
<th:block layout:fragment="scripts">
    <!-- ADD NEW SCRIPTS FOR PANES HERE -->
    <script th:src="@{/js/config.js}" src="/static/js/config.js"></script>
    <script th:src="@{/js/stats.js}" src="/static/js/stats.js"></script>
    <script th:src="@{/js/topics.js}" src="/static/js/topics.js"></script>
    <script th:src="@{/js/subscribers.js}" src="/static/js/subscribers.js"></script>
    <script th:src="@{/js/logs.js}" src="/static/js/logs.js"></script>
    <script th:src="@{/js/main.js}" src="/static/js/main.js"></script>
</th:block>
</body>
</html>