<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        layout:decorator="layout">
<head>
    <title>OKSE Admin Console</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="jumbotron" style="overflow: auto;">
        <img th:src="@{/gfx/logo.png}" alt="OKSE Message Broker" title="OKSE Message Broker" class="pull-right" />
        <h1>OKSE Message Broker</h1>
        <p>Please log in</p>
    </div>
</th:block>
</body>
</html>